{% comment %}
    Info:       Field choice.
    Requires:   Can be included in the Form of an item having 'language' as Choice CharField 
    Note:       xxx
{% endcomment %}

        <div id="div_id_{{item.label}}" class="form-element">
            <label for="id_{{item.label}}">
                <strong>{{item.label}}</strong>
            </label>        
            <select id="id_{{item.label|slugify}}" name="{{item.name}}">
            {% if item_fields.choices %}{% for x,y in item_fields.choices %}
                <option value="{{ x }}"{% if item.value == x %} selected=selected{% endif %}>{{ y }}</option>
            {% endfor %}{% endif %}
            </select>               
        {% if item.errors %}
            {% for error in item.errors %}<span class="error-text">{{ error|escape }}</span>{% endfor %}
        {% endif %}
        {% if item.help_text %}<span class="help-text">{{ item.help_text|safe }}</span>{% endif %}
        </div>