{% comment %}
    Info:       Field type date.
    Requires:   Can be included in the Form of an item having DateField 
    Note:       xxx
{% endcomment %}

        <div id="div_id_{{item.label}}" class="form-element"> 
            <label for="id_{{item.label}}">
                <strong>{{item.label}}</strong>
                <input id="id_{{item.label|slugify}}" class="form-input" name="{{item.name}}" autocomplete="off" type="date" pattern="^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$" value={% if item.errors %}"{{ item.value|default_if_none:'' }}"{% else %}"{{ item.value|date:'Y-m-d'|default_if_none:'' }}"{% endif %}/>
            </label>                            
        {% if item.errors %}
            {% for error in item.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
        {% endif %}
            {% if item.help_text %}<span class="help-text">{{ item.help_text|safe }}</span>{% endif %}                
        </div>