{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
Patient's Profile
{% endblock %}


{% block content %}
<section class="section profile">
<div class="row">

<div class="col-xl-4">
    <div class="card">
      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

        <img src="{% static "core/img/avator-patient-64.png" %}" alt="Profile" class="rounded-circle">
        <h2>{{ obj.full_name }}</h2>
        <h3>{{ obj.sex }} &nbsp {{ obj.age }}</h3>
        <h3>{{ obj.mobile }}</h3>
      </div>
    </div>
</div>

<div class="col-xl-8">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">

          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#medical-history">Medical History</button>
          </li>

          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#medical-files">Files</button>
          </li>

        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-overview" id="medical-history">
            <h5 class="card-title">Medical History</h5>
            <table class="table">
                {% for history in medical_history %}
                    <tr>
                        <td>
                            {{ history.status }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

          </div>

          <div class="tab-pane fade profile-edit pt-3" id="medical-files">

            <table class="table">
                {% for file in medical_files %}
                    <tr>
                        <td>
                            {{ file.description }}
                        </td>
                        <td>
                            <a class="input_label" href="{{ file.document.url }}" target="_blank"> {{ file.filename }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

          </div>

        </div><!-- End Bordered Tabs -->

      </div>
    </div>
</div>
</section>
{% endblock %}