{% extends "core/base.html" %}
{% load staticfiles  %}

{% block extra_style %}
<link href="{% static "ime/css/jquery.ime.css" %}" rel="stylesheet" />
{% endblock %}


{% block title %}
<span class="fS24">Add Visit </span>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="row col-sm-12 centered mL-32">
	        <ul class="ui tabular menu">
                  <li class="item active " data-tab="patient">
                    Patient Detail
                  </li>
                  <li class="item" data-tab="complaints">
                    Complaints
                  </li>
				<li class="item" data-tab="history">
                    History
                  </li>

                  <li class="item" data-tab="vitals">
                    Vitals
                  </li>
                  <li class="item" data-tab="medicine">
                    Medicine
                  </li>
                  <li class="item" data-tab="diagnosis">
                    Diagnosis
                  </li>
                <li class="item" data-tab="remark">
                    Remarks and Tests
                  </li>
                  
                  <li class="item" data-tab="report">
                    Report
                  </li>
			    </ul>
        </div>

        <div class="row col-sm-12 centered mL-32 mT-32 tab-content">
 
            <div id="div_id_patient" class="ui tab active row col-sm-12 centered" data-tab="patient">

			       <table>
			            <tr>
			                <td class= "pLR-8">
                				<div class="ui search patient">
								  <div class="ui {% if visit_container %} disabled {% endif %} icon input">
								
								    <input class="prompt" placeholder="Patient name..." type="text" id="id_full_name" name="full_name" required>
								    <i class="search icon"></i>
								  </div>
								  <div class="results"></div>
								</div>			                
							</td>
							<td class= "pLR-8">
				                 <div id="div_id_age" class="ui {% if visit_container %} disabled {% endif %} right labeled input">
				                        <input id="id_age" name="age" type="text" placeholder="Age in Years..." 
				                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
				                        <div class="ui basic label">
				    						Yrs
				  						</div>
				                </div>							
							</td>
							<td class= "pLR-8">
				                 <div id="div_id_mob" class="ui {% if visit_container %} disabled {% endif %} input">
				                        <input id="id_mobile" name="mobile" type="text" placeholder="Mobile Number..." 
				                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
				                </div>							
							</td>
							<td class="pLR-8">
						        <div id="div_id_sex">
						            <label for="id_sex">
						            </label>        
						            <select id="id_sex" name="sex" class="ui {% if visit_container %} disabled {% endif %} dropdown">
						                <option value="Male" selected=selected>Male</option>
						                <option value="Female">Female</option>
						                <option value="Others">Others</option>
						            </select>
						        </div>
							</td>
						</tr>
						
						<tr>
							<td class="pLR-8 pT-8">
				               <div class="pull-left">
                				  <input class="ui {% if visit_container %} disabled {% endif %} button" type="button" name="add" value="Add" id="id-patient-add" onclick="add_patient(this)" tabindex="0"/>
                			   </div>
							</td>
						</tr>
					</table>                
            </div>

            <div id="div_id_history" class="ui tab row col-sm-12 centered" data-tab="history">
			    <fieldset class="scheduler-border">
			        <legend class="scheduler-border">Patient Medical History</legend>
			        
			        {% comment %}  Start if first form {% endcomment %}
			        <form id="id-form-medical-history" method="post" enctype="multipart/form-data" class="a-mdl-form ">
			        
			        <fieldset class="scheduler-border">
			            <legend class="scheduler-border">History</legend>
			            {% url 'complaints:api_get_disease' as url %}
			             <input id="id_disease-id" class="translit form-input " name="disease_id" type="hidden" maxlength="300" />
			            <table>
			            <tr>
			                <td class="form-element pLR-8">
			                    <label for="id_status">
			                        <strong>Remark</strong>
			                        <textarea class="translit form-input" name="status" id="id_status"
			                        rows="5" cols="50" > </textarea>
			                    </label>
			                </td>
	                       <td>
	                           <div class="pull-left">
	                              <input class="ui button" type="button" name="addHistory" value="Add" id="id-history-add" onclick="add_history(this)"/>
	                            </div>
	                       </td>
			                
			            </tr>
			            </table>
			        </tr>    
			    </fieldset>
			    </form>
            </div>

            <div id="div_id_complaints" class="ui tab row col-sm-12 centered" data-tab="complaints">
			{% csrf_token %}
				<div class="ui search complaint">
				  <div class="ui icon input">	
				    <input class="prompt" placeholder="Complaints..." type="text" id="id_complaints" name="complaints" required>
				    <i class="search icon"></i>
				  </div>
				  <div class="results"></div>
				</div>
				<div class="pLR-8 ">
						 <div id="div_id_c_duration" class="ui right labeled input mT-16">
								<input id="id_input_c_duration" name="c_duration" type="text" placeholder="Duration of complaint..." 
								 spellcheck="false" autocomplete="off" maxlength="300" value="" />
						</div>
				</div>


               <div class="pull-left pT-8">
                      <input class="ui button" type="button" name="add" value="Add" id="id-complaints-add" onclick="add_complaints(this)" data-url="{% url "complaints:api_get_complaints" %}"/>
                </div>
            </div>

            <div id="div_id_medicine" class="ui tab row" data-tab="medicine">
                <fieldset class="scheduler-border col-sm-12 centered">
                    <legend class="scheduler-border">Medicine</legend>
                    {% url 'medicines:api_get_medicine' as url %}
                    <table >
                    <tr>
                        <td class="pLR-8">
							<div class="ui search medicine">
							  <div class="ui icon input">
							
							    <input class="prompt" placeholder="Medicine name..." type="text" id="id_input_medicine" name="medicine" required>
							    <i class="search icon"></i>
							  </div>
								<div class="results" ></div>
							</div>                        
                        </td>
                    </tr>
                    <tr>
                        <td class="pLR-8">
							<div class="ui search m_category">
							  <div class="ui icon input">
							
							    <input class="prompt" placeholder="Medicine category..." type="text" id="id_input_m_category" name="category" required>
							    <i class="search icon"></i>
							  </div>
							  <div class="results"></div>
							</div>                        
                        </td>
                    </tr>					
                    <tr>
                        <td class="pLR-8">
                        
							<div class="ui search dosage mT-16">
							  <div class="ui input">
							    <input class="prompt" placeholder="Dosage" type="text" id="id_input_dosage" name="dosage" required>
							  </div>
							  <div class="results"></div>
							</div>                        
                        </td>
                    </tr>
                    <tr>
                        <td class="pLR-8">
							<select id="id_input_frequency"  multiple="" name="frequency" class="ui fluid normal dropdown frequency mT-16">
							  <option value="">Frequency</option>
							<option value="Take Once Daily / दिन में एक बार (OD)">Take Once Daily / दिन में एक बार (OD)</option>
							<option value="Take Two Times Daily / दिन में दो बार (BD)">Take Two Times Daily / दिन में दो बार (BD)</option>
							<option value="Take Three Times Daily / दिन में तीन बार (TDS)">Take Three Times Daily / दिन में तीन बार (TDS)</option>
							<option value="Take At Night Daily / केवल रात में (HS)">Take At Night Daily / केवल रात में (HS)</option>
							<option value="Four Times Daily / दिन में चार बार (QID)">Four Times Daily / दिन में चार बार (QID)</option>
							<option value="SOS (if need) / जरुरत पड़ने पर ">SOS (if need) / जरुरत पड़ने पर </option>
							<option value="Take Before Food / खाने से पहले (AC)">Take Before Food / खाने से पहले (AC)</option>
							<option value="Take After Food / खाने के बाद (PC)">Take After Food / खाने के बाद (PC)</option>
							<option value="Not To Be Taken Orally / खाने पीने वाला नहीं है (AC)">Not To Be Taken Orally / खाने पीने वाला नहीं है (AC)</option>
							<option value="Before Breakfast / खाली पेट (BBF)">Before Breakfast / खाली पेट (BBF)</option>
							<option value="After Breakfast / नाश्ते के बाद (ABF)">After Breakfast / नाश्ते के बाद (ABF)</option>
							<option value="Take at morning / सुबह  में ">Take at morning / सुबह में </option>
							<option value="Take at evening / शाम   में ">Take at evening / शाम  में </option>
							<option value="During fever / बुखार आने पर  ">During fever / बुखार आने पर  </option>
							<option value="During pain / दर्द होने पर   ">During pain / दर्द होने पर   </option>
							<option value="Take 2 Hrs after food / खाने के दो घंटे बाद  ">Take 2 Hrs after food / खाने के दो घंटे बाद    </option>
							</select>                       
                        </td>
                    </tr>
                    <tr>
                        <td class="pLR-8 ">

				                 <div id="div_id_duration" class="ui right labeled input mT-16">
				                        <input id="id_input_duration" name="duration" type="text" placeholder="Duration in Days..." 
				                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
				                        <div class="ui basic label">
				    						Days
				  						</div>
				                </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pLR-8">
			                <div class="form-element mT-16">
			                    <label for="id_medicine_remarks">
			                        <strong>Remarks</strong>
			                        <textarea class="hindi-text form-input" name="medicine_remarks" id="id_medicine_remarks"
			                        rows="3" cols="50" > </textarea>
			                    </label>
			                </div>
                        </td>
                     </tr>
                     <tr>
                       <td>
                           <div class="pull-left mT-16">
                              <input class="ui button" type="button" name="add" value="Add" id="id-medicine-add" onclick="add_medicine(this)"/>
                            </div>
                       </td>
                     </tr>
                    </table>
                </fieldset>
            </div>

            <div id="div_id_vitals" class="ui tab row" data-tab="vitals">
                <fieldset class="scheduler-border col-sm-12 centered">
                    <legend class="scheduler-border">Vitals</legend>
                    <table >
                    <tr >
                        <td class="pLR-8 ">
				                 <div id="div_id_weight" class="ui right labeled input">
			                        <input id="id_input_weight" name="weight" type="text" class="w80px" placeholder="Weight" 
			                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
			                        <div class="ui basic label">
			    						KG
			  						</div>
				                 </div>							
							{% comment %}  
                            <label for="id_input_weight">
                            <strong>Weight</strong>
                            <input id="id_input_weight" class="translit form-input " name="weight" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 
                        <td class="pLR-8 ">

			                 <div id="div_id_pce" class="ui input">
		                        <input id="id_input_pce" name="pce" type="text" class="w120px" placeholder="P/CL/CN/I/O/L" 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
			                 </div>							

							{% comment %}  
                            <label for="id_input_pce">
                            <strong>P/CL/CN/I/O/L</strong>
                            <input id="id_input_pce" class="translit form-input " name="pce" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class="pLR-8 ">

				                 <div id="div_id_temp" class="ui right labeled input">
			                        <input id="id_input_temp" name="temp" type="text" class="w80px" placeholder="Temperature" 
			                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
			                        <div class="ui basic label">
			    						&#8457;
			  						</div>
				                 </div>							
							{% comment %}  
                            <label for="id_input_temp">
                            <strong>Temp</strong>
                            <input id="id_input_temp" class="translit form-input " name="temp" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                     </tr>

                    <tr >

                        <td class="pLR-8 pT-16">
			                 <div id="div_id_pulse" class="ui right labeled input">
		                        <input id="id_input_pulse" name="pulse" type="text" class="w80px" placeholder="Pulse " 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									bpm
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_pulse">
                            <strong>Pulse</strong>
                            <input id="id_input_pulse" class="translit form-input " name="pulse" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class="pLR-8 pT-16">
			                 <div id="div_id_bp" class="ui right labeled input">
		                        <input id="id_input_bp" name="bp" type="text" class="w80px" placeholder="Blood Pressure.. " 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									mmHg
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_bp">
                            <strong>BP</strong>
                            <input id="id_input_bp" class="translit form-input " name="bp" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class="pLR-8 pT-16">
			                 <div id="div_id_rr" class="ui right labeled input">
		                        <input id="id_input_rr" name="rr" type="text" class="w80px" placeholder="Respiratory rate" 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									bpm
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_rr">
                            <strong>RR</strong>
                            <input id="id_input_rr" class="translit form-input " name="rr" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 
                     </tr>

                    <tr>
                        <td class="pLR-8 pT-16">
			                 <div id="div_id_cns" class="ui input">
		                        <input id="id_input_cns" name="cns" type="text" class="w120px" placeholder="CNS" 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
			                 </div>							
							{% comment %}  
                            <label for="id_input_cns">
                            <strong>CNS</strong>
                            <input id="id_input_cns" class="translit form-input " name="cns" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class="pLR-8 pT-16">
			                 <div id="div_id_chest" class="ui right labeled input">
		                        <input id="id_input_chest" name="chest" type="text" class="w80px" placeholder="Chest..." 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									cm
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_chest">
                            <strong>Chest</strong>
                            <input id="id_input_chest" class="translit form-input " name="chest" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class="pLR-8 pT-16">
			                 <div id="div_id_cvs" class="ui right labeled input">
		                        <input id="id_input_cvs" name="cvs" type="text" class="w80px" placeholder="CVS" 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									cm
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_cvs">
                            <strong>CVS</strong>
                            <input id="id_input_cvs" class="translit form-input " name="cvs" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 

                        <td class=" pLR-8 pT-16">
			                 <div id="div_id_pa" class="ui right labeled input">
		                        <input id="id_input_pa" name="pa" type="text" class="w80px" placeholder="PA" 
		                         spellcheck="false" autocomplete="off" maxlength="300" value="" required />
		                        <div class="ui basic label">
									cm
		  						</div>
			                 </div>							
							{% comment %}  
                            <label for="id_input_pa">
                            <strong>PA</strong>
                            <input id="id_input_pa" class="translit form-input " name="pa" type="text"
                             spellcheck="false" autocomplete="off" maxlength="300" />
                            </label>
                            {% endcomment %}
                        </td> 
                     </tr>
                     <tr>
                       <td>
                           <div class="pull-left pT-16">
                              <input class="ui button" type="button" name="add" value="Add" id="id-vitals-add" onclick="add_vitals(this)"/>
                            </div>
                       </td>
                     </tr>
                    </table>
                </fieldset>
            </div>


            <div id="div_id_disease" class="ui tab row col-sm-12 centered" data-tab="diagnosis">
                <div class="pLR-8">
                {% csrf_token %}
                
                <strong class="input_label">Diagnosis</strong>
						<div class="ui search disease">
						  <div class="ui icon input">
						    <input class="prompt" placeholder="Disease" type="text" id="id_disease" name="disease" required>
						    <i class="search icon"></i>
						  </div>
						  <div class="results"></div>
						</div>                        
                </div>
               <div class="pull-left pT-16">
                  <input class="ui button" type="button" name="add" value="Add" id="id-disease-add" onclick="addDisease(this)"/>
                </div>
            </div>

			<div id="div_id_remark" class="ui tab row col-sm-12 centered" data-tab="remark">
				<div class="pLR-8">
	                <div class="form-element pLR-8">
	                    <label for="id_remarks">
	                        <strong>Remarks</strong>
	                        <textarea class="translit form-input" name="remarks" id="id_input_remarks"
	                        rows="5" cols="50" > </textarea>
	                    </label>
	                </div>
	                <div class="form-element pLR-8">
	                    <label for="id_tests">
		                        <strong>Tests</strong>
		                        <textarea class="translit form-input" name="tests" id="id_input_tests"
		                        rows="5" cols="50" > </textarea>
	                    </label>                
	                </div>
	               
	               <div class="pull-left">
					  <button type="button" id="id_btn_report_view" class="ui button" onclick="show_report(this)" >View Report</button>
	                  <input class="ui button" type="button" name="GenerateReport" value="Generate Report" id="id-vitals-add" onclick="add_visit(this)"/>
	                </div>
				</div>			
			</div>

+
            <div id="div_id_report" class="ui tab row col-sm-12 centered" data-tab="report">
			
			<a id="id_btn_report" class="ui disabled button" href=""  onclick="window.open(this.href,'popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;"> Download Report </a>
						
			{% if visit_container_id %}
				<input id="id_visit_container_id" value="{{ visit_container_id}}" type="hidden">  </input>
			{% endif %}
            </div>



        </div>
        
        {% comment %}  Here View would start{% endcomment %}
        <div class="ui modal">
  			<div class="header">REPORT</div>
  			<div class="scrolling content">
		       <div class="row col-sm-12 centered mL-32 mT-32" >
		        <table class="table" id="div_id_patient_details">
		            <span class="fS24"> Personal Dossier</span>
		            <tr id="added_patient">
		            {% if visit_container %}
            		<tr class="patient-display" data-id="{{ visit_container.patient_detail.patient_id }}">
					<td> <span class="fS16 c-31 "> Name: </span>
						<span id="span_id_name" class="fS24 mL-32">{{ visit_container.patient_detail.full_name }} </span> 
					</td>
					<td> <span class="fS16 c-31 "> Age: </span>
						<span id="span_id_age" class="fS24 mL-32">{{ visit_container.patient_detail.age }}</span> 
					</td>	
					<td> <span class="fS16 c-31 "> Sex: </span>
						<span id="span_id_sex" class="fS24 mL-32">{{ visit_container.patient_detail.sex }}</span> 
					</td>
					</tr>
		            {% endif %}
		            </tr>
		        </table>
		        </div>
		
		        <div class="row col-sm-12 centered mL-32 mT-32">
			        <table class="table ">
			        <span class="fS24"> Complaints</span>
		               <thead >
		                <tr>
		                  <th >Complaints</th>
		                </tr>
		              </thead>
		            
		                <tbody id="added_complaint" class="col-sm-12 fS14">
		                	{% for complaint in complaints %}
		                	<tr> <td>
								<span class="tag label label-info c-31 complaint-display" data-id="{{complaint.complain_id}}">
								<span>{{complaint.description}}</span>
								<i class="fa fa-times-circle del-complaint" aria-hidden="true"></i>
								</span>
								</td>
							</tr>
							{% endfor %}
		                </tbody>
		            </table>
		        </div>
		
		        <div class="row col-sm-12 centered mL-32 mT-32" >
		            <table class="table">
		            <span class="fS24"> Medication</span>
		               <thead >
		                <tr>
		                  <th >Medicine</th>
		                  <th >Frequency</th>
		                  <th >Duration</th>
		                </tr>
		              </thead>
		            
		                <tbody id="added_medicine" class="col-sm-12 fS14">
		                	{% for medicine in medicines %}
								<tr class="medicine-display" data-id="{{medicine.medication_id}}">
								<td> {{medicine.medicine}} : {{medicine.dosage}}</td>
								<td>{{medicine.frequency}}</td>
								<td> for {{ medicine.duration }} days</td>
								<td> {{ medicine.remarks }}</td>
								<td> <i class="fa fa-times-circle del-medicine" aria-hidden="true"></i> </td>
								</tr>
			        		{% endfor %}
		                </tbody>
		            </table>
		        </div>
		
		        <div class="row col-sm-12 centered mL-32 mT-32">
			        <table class="table ">
			        <span class="fS24"> Diagnosis</span>
		               <thead >
		                <tr>
		                  <th >Disease</th>
		                </tr>
		              </thead>
		            
		                <tbody id="added_disease" class="col-sm-12 fS14">
		                	{% for disease in diagnose %}
		                	<tr>
		                	<td>
							<span class="tag label label-info c-31 disease-display " data-id="{{ disease.disease_id }}">
								<span>{{ disease.name }}</span>
								<i class="fa fa-times-circle del-disease" aria-hidden="true"></i>
							</span>
							</td>
							</tr>
							{% endfor %}
		                </tbody>
		            </table>        
		        </div>

		
		        <div class="row col-sm-12 centered mL-32 mT-32" id="added_history">
		            <table class="table mB-32" id="div_id_medical_histroy">
		            <span class="fS24"> Medical History</span>
		              <thead >
		                <tr>
		                  <th >Remark</th>
		                </tr>
		              </thead>
		              <tbody id="added_medicalHistory">
		              {% comment %}  This is where we put medical history{% endcomment %}
		              </tbody>
		            </table>        
		        </div>
		
		        <div class="row col-sm-12 centered mL-32 mT-32" >
		            <table class="table">
			            <span class="fS24"> O/E</span>
			            <thead >
			                <tr>
			                  <th >Weight</th>
			                  <th >P/CN/CL/I/O/L</th>
			                  <th >Temp</th>
			                  <th >Pulse</th>
			                  <th >BP</th>
			                  <th >RR</th>
			                  <th >CNS</th>
			                  <th >Chest</th>
			                  <th >CVS</th>
			                  <th >PA</th>
			                  <th >Tests</th>
			                </tr>
			            </thead>
			            <tbody id="added_vitals" class="col-sm-12 fS14">
			            </tbody>
		            </table>
		        </div>		        
  			</div>
		</div>

    </div>
</section>

{% endblock %}

{% block extra_script %}
<script src="{% static "ime/libs/rangy/rangy-core.js" %}"></script>
<script src="{% static "ime/src/jquery.ime.js" %}"></script>
<script src="{% static "ime/src/jquery.ime.selector.js" %}"></script>
<script src="{% static "ime/src/jquery.ime.preferences.js" %}"></script>
<script src="{% static "ime/src/jquery.ime.inputmethods.js" %}"></script>

<script src="{% static "core/utils.js" %}"></script>
<script src="{% static "core/visitPatient.js" %}"></script>
<script src="{% static "core/visitHistory.js" %}"></script>
<script src="{% static "core/visitVitals.js" %}"></script>
<script src="{% static "core/visitComplaints.js" %}"></script>
<script src="{% static "core/visitMedicine.js" %}"></script>
<script src="{% static "core/visitDiagnose.js" %}"></script>
<script src="{% static "core/visit.js" %}"></script>
{% endblock %}

