{% extends "core/base.html" %}
{% load static from staticfiles %}

{% block title %}
Visit's Records
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
            <div class="card-body">
				<h5 class="card-title">Search for reports</h5>

				<form class="row g-3">
					
					<div class="col-md-4">
						<input class="prompt" placeholder="Search" type="text" id="id_visit_search" required>
					</div>
					<div class="col-md-4">
						<input name="field" id="id_search_field" type="hidden"/>
						<select class="form-select" id="id_visit_search_type">
							<option value="name" selected>By Name</option>
							<option value="mobile_number">By Mobile Number</option>
							<option value="disease">By Disease</option>
						</select>
					</div>
					<div class="col-md-4">
						<input class="btn btn-outline-primary" type="button" name="Search" onclick="get_visits(this)" value="Search" tabindex="0"/>
						<input class="btn btn-outline-primary" type="button" name="add" value="New visit" onclick="goto_new_visit(this)"/>
					</div>
					
				</form><!-- End Multi Columns Form -->
			</div>
		</div>		
	</div>
</div>

{% comment %} <section class="pT-8 pB-16 wFull">
    <div class="row centered">
        <div class="col-sm-12 row centered">
            <div class="col-sm-12  row centered">
            <table>
            	<tr>
              		<td>
					  <div class="ui icon input">	
					    <input class="prompt" placeholder="Search" type="text" id="id_visit_search" required>
					    <i class="search icon"></i>
					  </div>
					  <div class="results"></div>            		
            		</td>
            		<td>
						<div class="ui selection dropdown">
						  <input name="field" id="id_search_field" type="hidden">
						  <i class="dropdown icon"></i>
						  <div class="default text">Field</div>
						  <div class="menu">
						    <div class="item" data-value="name">Name</div>
						    <div class="item" data-value="mobile_number">Mobile Number</div>
						    <div class="item" data-value="disease">Disease</div>
						  </div>
						</div>
            		</td>
            		
            		<td>
            			<input class="ui button" type="button" name="Search" onclick="get_patients(this)" value="Search" tabindex="0"/>
            		</td>
                    <td class="">
                        <input class="ui positive button" type="button" name="add" value="New visit" onclick="goto_new_visit(this)"/>
                    </td>
            	</tr>
            </table>
            
            </div>
        </div>
    </div>
</section> {% endcomment %}

<div class="row centered" id="id_patient_list">
{% include "visit/visit_list.html" %}
</div>



{% endblock %}

{% block extra_script %}
<script src="{% static "core/utils.js" %}"></script>
<script src="{% static "core/visit.js" %}"></script>
{% endblock %}